@using EF = PERI.Prompt.EF
@using BLL = PERI.Prompt.BLL
@model EF.User

@{
    Layout = "~/Views/Shared/Blogger/Form.cshtml";
}

<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<p class="login-box-msg">Please fill out your email address. We will send a link to reset the password.</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-group has-feedback">
        @Html.TextBoxFor(x => x.Email, new { placeholder = "Email", type = "email", required = "", @class = "form-control" })
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    
    var settings = ViewBag.Settings as List<EF.Setting>;
    var recaptchaSettings = settings.Where(x => x.Group == "Recaptcha");

    <div class="g-recaptcha" data-sitekey="@recaptchaSettings.First(x => x.Key == "Recaptcha public key").Value"></div>

    @Html.ValidationSummary()
    <div class="row">
        <!-- /.col -->
        <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat" >Submit</button>
        </div>
        <!-- /.col -->
    </div>
}
