<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="infolog" xsi:type="File" fileName="logs/info.log" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fffK} ${pad:padding=5:fixedLength=true:${level:uppercase=true}} ${mdlc:item=log_id} ${message}"/>
    <target name="debuglog" xsi:type="File" fileName="logs/debug.log" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fffK} ${pad:padding=5:fixedLength=true:${level:uppercase=true}} ${mdlc:item=log_id} ${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" maxlevel="Warn" writeTo="infolog" />
    <logger name="*" minlevel="Debug" writeTo="debuglog" />
  </rules>
</nlog>
